datasets
torch
torchvision
transformers<5.0.0
prometheus_client
Pillow
flask
honcho
werkzeug
wandb
redis
dotenv
opencv-python
pytesseract
mlflow==3.10.1
starlette<1.0.0
gunicorn
scikit-learn
pandas
pyyaml
tqdm
psutil
accelerate
evaluate
